<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WebJava初級課題2</title>
</head>
<body>
<form action="/result" th:object="${characterForm}">
	 <div th:object="${characterForm}">
        職業：<input type="hidden" th:text="*{selectedCharacter}" ><br>
        名前：<input type="hidden" th:text="*{name}" >
    </div>
    <input type="hidden" th:field="*{selectedCharacter}" ><br>
    <input type="hidden" th:field="*{name}" >
    <input type="hidden" th:field="*{fightmessage}" >
    <input type="submit" value="たたかう"/>
</form>
</body>
</html>